<% include ../partials/head %>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<header class="main-header">
				<% include ../partials/headerStudent %>
			</header>

			<aside class="main-sidebar">
				<% include ../partials/asideStudent %>
			</aside>
			<!-- =================================  CONTENT =================================================== -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						Perfil de alumno
					</h1>
					<ol class="breadcrumb">
						<li>
							<a href="/index">
								<i class="fa fa-dashboard"></i> Home</a>
						</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">

					<div class="row">
						<div class="col-md-3">

							<!-- Profile Image -->
							<div class="box box-primary">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive img-circle" src="img/avatar5.png" alt="User profile picture">

									<h3 class="profile-username text-center">
										<%- user.name %>
									</h3>

									<p class="text-muted text-center">
										<%- user.email %>
									</p>

									<ul class="list-group list-group-unbordered">
										<li class="list-group-item">
											<b>Ejercicios resueltos:</b>
											<a class="pull-right"><%- estadisticas.estadisticasQuestions.length %></a>
										</li>
										<li class="list-group-item">
											<b>Nota media:</b>
											<a class="pull-right">5,43</a>
										</li>
										<li class="list-group-item">
											<b>Contribuciones:</b>
											<a class="pull-right"><%- (contribuciones.contrEjercicios.length + contribuciones.contrContenidos.length) %></a>
										</li>
										<li class="list-group-item">
											<b>Clases</b>
											<a class="pull-right">
												<%- clases.length %>
											</a>
										</li>
									</ul>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->

							<!-- About Me Box -->
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">About Me</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<strong>
										<i class="fa fa-book margin-r-5"></i> Clases</strong>

									<% clases.forEach(function(valor, indice){%>

										<p>
											<span class="label label-success">
												<%- valor.name %>
											</span>
										</p>


										<%})%>

				

								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
						<!-- /.col -->
						<div class="col-md-9">
							<div class="nav-tabs-custom">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#addContent" data-toggle="tab">Añadir contenido</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="active tab-pane" id="addContent">
										<form role="form" action="/eligeClassAndSection" method="post">
											<div class="box-body">
											 
												<div class="form-group">
													<label for="eligeSection">Seccion  a la que añadir contenido</label>
													<select class="form-control" id="eligeSection" name="eligeSection">
													  <% sections.forEach(function(valor, indice){%>
														<option value="<%-valor.id%>">
														
														  <%-valor.name%> -- Clase: <%- valor.sectionClassName%>
														</option>
														<%})%>
													</select>
												  </div>
												  <div class="form-group">
														<label>¿Añadir nuevo contenido o nuevos ejercicios?</label>
														<div class="radio">
														  <label>
															<input name="radioContOrEj" id="radioContent" value="contenido" checked="true" type="radio"> Añadir nuevo contenido a la sección.
														  </label>
														</div>
														<div class="radio">
														  <label>
															<input name="radioContOrEj" id="radioEjercicio" value="ejercicio" type="radio"> Añadir nuevos ejercicios a la seccion.
														  </label>
														</div>
													  </div>
											</div>
											<!-- /.box-body -->
											<div class="box-footer">
											  <button type="submit" class="btn btn-primary">Aceptar</button>
											</div>
											
										  </form>
									</div>

								</div>
								<!-- /.tab-content -->
							</div>
							<!-- /.nav-tabs-custom -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->

				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
			<!-- ==================================  CONTENT =================================================== -->
			<footer class="main-footer">
				<% include ../partials/footer %>
			</footer>

			<aside class="control-sidebar control-sidebar-dark">
				<% include ../partials/sidebar%>
			</aside>

			<div class="control-sidebar-bg"></div>
		</div>


		<% include ../partials/tail %>